// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables.scss';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* @import url(https://fonts.googleapis.com/css?family=VT323); */
/* ----------------------------------------------------------------------------- */
/* ---------------------------- INITIAL ---------------------------------------- */
/* ----------------------------------------------------------------------------- */

body,html {
    height: 100%;
    margin: 0px;
    background-color: black;
    //overflow: hidden;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'VT323', monospace ; */
}

.centratore{
    justify-items: center;
    height: 100%;
    margin: 0px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

body, .centratore {
    background-color: black;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------- INITIAL DISPLAY PAGES ----------------------------- */
/* ----------------------------------------------------------------------------- */

#page1{
    display: flex;
    position: relative;
}

/* ----------------------------------------------------------------------------- */
/* ---------------------------- LAYOUT PAGES ----------------------------------- */
/* ----------------------------------------------------------------------------- */

/* #page1{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/wallpepars/jungle.jpg");
    background-repeat: repeat;
    background-size: 300px;
} */

/* #page2 {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url("images/board/black_forest6.png") ;
    background-repeat: repeat ;
    background-position: top ;
    height: 89vh;
}
 */



#modalx {
    background: repeating-linear-gradient(to right, blue 0%, blue 12.5%, yellow 12.5%, yellow 25%, red 25%, red 37.5%, #EE5E81 37.5%, #EE5E81 50%, black 50%, black 62.5%, blue 62.5%, blue 75%, yellow 75%, yellow 87.5%, red 87.5%, red 100%), black;
    background-size: 100% 10px, 50% 50%;
    background-repeat: no-repeat;
    rotate: 180deg;
    border: 1px solid #3c3c3c
}

#modalx span {
    rotate: 180deg;
}


/* #page3{
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
    ),
    url("images/board/water4.jpg");
} */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    background:
    linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    );
    background-repeat: repeat ;
    background-size: 700px ;
}

.modal-ingame{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("images/board/bignilo3.jpg") ;
    background-repeat: repeat;
    background-position: center ;
    background-size: 600px ;
}





/* #page1 {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("images/board/bignilo3.jpg") ;
    background-size: 550px ;
    background-position: center ;
    background-repeat: repeat ;
    height: 89vh;
} */

 #page5 , #page1  {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("images/board/bignilo3.jpg") ;
    background-repeat: repeat ;
    background-position: top ;
    background-size: 550px ;
}

#page4  {
    background-repeat: repeat ;
    background-position: center ;
    background-size: 1150px ;
}

/* #page5  {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("images/board/green_nilo2.jpg") ;
    background-repeat: repeat ;
    background-position: right ;
    background-size: 800px;
} */

.avatar-address{
    /* border: 1px solid blue; */
    /* box-shadow: 0 0 6px 1px blue; */
    font-size: 30px;
    border-radius: 8px;
    margin-bottom: 20px !important;
    margin-top: 15px !important;
}


/* ----------------------------------------------------------------------------- */
/* --------------------------- UTILITY CONTAINERS ------------------------------ */
/* ----------------------------------------------------------------------------- */

.allineatore {
    width: 100%;
    /* height: 100%; */
    /* margin-bottom: 300px; */
    /* padding-top: 70px ; */
}

.allineatore2 {
    /* height: 100vh; */
    position: relative;
}

#page4 .allineatore{
    /* height: calc(100vh - 100px); */
    margin-bottom: 0 !important;
}

#page3 .allineatore2{
    height: 100vh;
}

#page5 a:hover {text-decoration: underline;}

/* #page5 .allineatore{
    text-align: center;
    height: 80vh;
} */

/* ----------------------------------------------------------------------------- */
/* -------------------------- MENU PAGE BUTTONS -------------------------------- */
/* ----------------------------------------------------------------------------- */


.bt {
    z-index: 2;

    display: flex;
    bottom: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column !important;
}

.bt a {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none ;
}

.bt i , .bt span{
    color: white;
    font-size: 35px;
}
.bt span {
    font-size: 25px;
}

.square {
    background-color: black;
    width: 105px;
    height: 105px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid blue;
    /* border: 3px solid darken(blue, 25%) */
}

.bt #buttton_v_1 {
    height: 25px;
}

.bt #buttton_v_2 {
    height: 35px;
}

.bt #buttton_v_3 {
    font-size: 35px;
}

%test {
    position: absolute;
    content: '';
    transition: all .5s;
}

.ra{
    display: none !important;
}

#led {
    font-size: 7px;
}

#modalz .square{
    border: 3px solid red;
}
#modaly .square{
    border: 3px solid yellow;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------ PAGE 2 RANK UTILITY -------------------------------- */
/* ----------------------------------------------------------------------------- */

.fa-bars{
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    position: absolute;
    font-size: 27px;
}

.call_button {
    /* width: 20%; */
    border-radius: 20px;
    margin: 4px;
    margin-top: 0px !important;
    background-color: black;
    color: white;
    padding: 5px
}

.record{
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:red;
}

#page2 .record{
    margin: 3px ;
    width: 100%;
}

#page4 .record{
    width: 280px ;
    /* border:1px solid white; */
    margin-bottom:10px;
    border-radius: 10px;
}

.refresh-button{
    width: 100%;
    border: 1px solid black;
}

#scarabeo {
    max-width: 566px;
    margin-bottom: 15px;
}

/* ----------------------------------------------------------------------------- */
/* ---------------------- PAGE 1 MENU RESPONSIVE ------------------------------ */
/* ----------------------------------------------------------------------------- */

@media screen and (max-height: 586px){

    .square {
        width: 75px;
        height: 75px;
    }

    #led {
        font-size: 5px;
    }

    .bt i {
        font-size: 25px;
    }
    .bt #buttton_v_1 {
        height: 20px;
    }
    .bt {
        margin-bottom: -45px;
    }

}

/* ----------------------------------------------------------------------------- */
/* ---------------------- PAGE 2 RANK RESPONSIVE ------------------------------ */
/* ----------------------------------------------------------------------------- */

.banner-board-helper{
    justify-content: center;
}

@media screen and (max-width: 899px) {
    #scarabeo {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 900px) {
    #scarabeo {
        width: auto;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 519px) {
    #page2 .record, .refresh-button {
        margin-left: 50px;
        margin-right:  50px;
    }
}

@media screen and (min-width: 359px) {
    #page2 .record, .refresh-button {
        margin-left: 25px;
        margin-right:  25px;
    }
}

/* ----------------------------------------------------------------------------- */
/* ---------------------- PAGE 3 BOARD RESPONSIVE ------------------------------ */
/* ----------------------------------------------------------------------------- */







.console-screen{
    font-family: 'VT323', monospace ;
}

@media screen and (min-width: 10px) and (min-height: 10px){
    .board{
        width: 200px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(200px)
    }
    .modal-content{
        width: calc(200px);
        height:358px;
    }
    .console-screen{
        width: 150px ;
    }
}

@media screen and (min-width: 278px) and (min-height: 400px){
    .board{
        width: 225px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(225px)
    }
    .modal-content{
        width: calc(225px);
        height:389px;
    }
    .console-screen{
        width: 100% ;
    }

}

@media screen and (min-width: 319px) and (min-height: 475px){
    .board{
        width: 250px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(250px)
    }
    .modal-content{
        width: calc(250px);
        height:421px;
    }
    .console-screen{
        width: 100% ;
    }

}

@media screen and (min-width: 348px) and (min-height: 500px){
    .board{
        width: 280px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(280px)
    }
    .modal-content{
        width: calc(260px);
        height:460px;
    }
    .console-screen{
        width: 200px ;
    }
}

@media screen and (min-width: 370px) and (min-height: 582px){
    .board{
        width: 330px;
        /* height: 450px; */

    }
    .board-player{
        width: calc(330px)
    }
    .modal-content{
        width: calc(280px);
        height:524px;
    }
    .console-screen{
        width: 200px ;
    }
}

@media screen and (min-width: 482px) and (min-height: 600px){
    .board{
        width: 350px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(350px)
    }
    .modal-content{
        width: calc(300px);
        height:550px;
    }
    .console-screen{
        width: 240px ;
    }
}

@media screen and (min-width: 638px) and (min-height: 670px){
    .board{
        width: 390px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(390px)
    }
    .modal-content{
        width: calc(330px);
        height:600px;
    }
    .console-screen{
        width: 280px ;
    }
}

@media screen and (min-width: 662px) and (min-height: 726px){
    .board{
        width: 430px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(430px)
    }
    .modal-content{
        width: calc(350px);
        height:652px;
    }
    .console-screen{
        width: 290px ;
    }
}

@media screen and (min-width: 700px) and (min-height: 790px){
    .board{
        width: 470px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(470px)
    }
    .modal-content{
        width: calc(370px);
        height:704px;
    }

    .console-screen{
        width: 280px ;
    }
    .modal-ingame{
        background-size: 600px ;
    }
}

@media screen and (min-width: 710px) and (min-height: 898px){
    .board{
        width: 550px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(550px)
    }
    .modal-content{
        width: calc(500px);
        height:807px;
    }
    .console-screen{
        width: 350px ;
    }
    .modal-ingame{
        background-size: 600px ;
    }
}

@media screen and (min-width: 795px) and (min-height: 1043px){
    .board{
        width: 650px;
        /* height: 450px; */
    }
    .board-player{
        width: calc(650px)
    }
    .modal-content{
        width: calc(600px);
        height:935px;
    }
    .console-screen{
        width: 350px ;
    }
    .modal-ingame{
        background-size: 600px ;
    }
}









/* ----------------------------------------------------------------------------- */
/* ------------------------ PAGE 4 AVATAR RESPONSIVE --------------------------- */
/* ----------------------------------------------------------------------------- */

.profile_cover{
    height: 100%;
    object-fit: cover
}


@media screen and (min-width: 150px) and (min-height: 100px){
    .avatar{
        width: 210px;
        margin-bottom: 150px;
        border-radius: 35px;
        margin: 20px;
        position: relative;
    }

    #page4 .record {
        width: 180px ;
    }

    #avataricon{
        width: 50px;
    }
}

@media screen and (min-width: 350px) and (min-height: 150px){
    .avatar{
        width: 290px;
        margin-bottom: 150px;
        border-radius: 35px;
        margin: 20px;
        position: relative;
    }

    #page4 .record {
        width: 280px ;
    }

    #avataricon{
        width: 60px;
    }
}

@media screen and (min-width: 460px) and (min-height: 200px){
    .avatar{
        width: 290px;
        /* margin-top: 35px; */
        border-radius: 35px;
        /* background-color: #3C5FA1;
        background-color: #EE3734;
        background-color: #EDEB51;
        background-color: #EE5E81; */
        position: relative;
    }
    #page4 .record {
        width: 280px ;
    }

    #avataricon{
        width: 80px;
    }
}







/* ----------------------------------------------------------------------------- */
/* ----------------------- PAGE 5 INFO RESPONSIVE ------------------------------ */
/* ----------------------------------------------------------------------------- */

.pepar{
    margin-bottom: 40px !important;
    background-color:black;
    padding: 30px;
    border-radius: 20px;
    background:
    linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    )
}

@media screen and (min-width: 350px) {
    .pepar{
        width: 350px;
        /* height: 450px; */
        /* margin-top: 130px !important; */
    }
}

@media screen and (min-width: 460px) and (min-height: 600px){
    .pepar{
        width: 437.5px;
        /* height: 562.5px; */
        margin-bottom: 130px;
        /* margin-top: 130px !important; */
    }
}

.pepar p {
    color: white;
}

@media screen and (max-width: 390px) {
    .pepar {
        margin: 0 30px;
        font-size: 12px;
    }
}

@media screen and (max-height: 555px) {
    .wallet-login-title h2 {
        font-size: 20px;
    }

    .connect-modal-content {
        //height: 380px !important;
    }
}

@media screen and (max-width: 390px) {
    .wallet-login-title h2 {
        font-size: 20px;
    }

    .connect-modal-content {
        width: 280px !important;
        min-width: 200px !important;
    }
}

/* ----------------------------------------------------------------------------- */
/* --------------------------- UTILITY MODALS ---------------------------------- */
/* ----------------------------------------------------------------------------- */

.modal img {width: 100px;}

/* .modal button {
    width: 170px;
    min-height: 60px;
    margin: 10px;
    color: white !important;
    border : 2px solid white;
    border-radius: 30px;
} */

.console-screen{
    box-shadow: 0 0 12px 0 #ffffff63;
    border: 1px solid #ffffff59;
    border-radius: 8px;
    /* width: 350px; */
    margin: 30px 30px 30px 30px;
    /* padding-bottom: 40px; */
    transition: 0.5s ease;
    margin-top: 10px;
    animation: pulse 3s infinite;
    &:hover{
        box-shadow: 0 0 16px 0 #ffffff94;
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.3);
    }
    90% {
        -webkit-box-shadow: 0 0 1px 10px rgba(255,255,255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.3);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0.3);
    }
    90% {
        -moz-box-shadow: 0 0 1px 10px rgba(255,255,255, 0);
        box-shadow: 0 0 1px 15px rgba(255,255,255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
}


#myModalkoo6 {
    display: none; /* Hidden by default */
    z-index: 100; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    padding-top: 0;
    /* animation: fade-in 0.6s; */
}

#myModalkoo6 .modal-content{
    background-color: black;
    border: 1px solid purple;
    display: flex;
}

#myModalkoo6 .modal-content p{
    margin: 0;
}

.modal-content {
    background-color: black;
    /* box-shadow: 0 0 11px 2px #000000; */
    /* box-shadow: 10px 10px purple; */
    /* border-radius: 30px; */
    margin: 15% auto;
    /* padding: 20px; */
    padding: 30px;
    border-radius: 20px;
    min-width: 350px;
    /* border: 8px solid BLACK; */
    /* width: 280px; */
    height: fit-content;
    /* border: 5px solid #FCB341 ; */
}

#modalx div{
    background-color: black;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------- UTILITY MODALS RESPONSIVE --------------------------- */
/* ----------------------------------------------------------------------------- */

@media screen and (max-width: 415px) {
    .modal-content {
        min-width: 300px;
        .main_modal & .main_message {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 315px) {
    .modal-content {
        min-width: 250px;
    }
}

@media screen and (max-width: 277px) {
    .main_modal .modal-content .main_message  {
        font-size: 12px;
    }
}

/* ----------------------------------------------------------------------------- */
/* ---------------------- LED LIGHT FEATURE ------------------------------------ */
/* ----------------------------------------------------------------------------- */

#led{
    position: absolute;
    font-size: 5px;
    top: 12px;
    right: 12px;
}
.red-led {
    color: red !important;
}
.green-led {
    color: #00ff4c !important;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------ UTILITY ANIMATIONS --------------------------------- */
/* ----------------------------------------------------------------------------- */

.shake{
    animation: shake 0s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 0px)  }
    10% { transform: translate(-1px,  0px)   }
    20% { transform: translate(-3px, 0px)  }
    30% { transform: translate(3px, 0px)  }
    40% { transform: translate(1px,  0px)  }
    50% { transform: translate(-1px, 0px)   }
    60% { transform: translate(-3px, 0px)  }
    70% { transform: translate(3px, 0px)   }
    80% { transform: translate(-1px,  0px)  }
    90% { transform: translate(1px, 0px)  }
    100% { transform: translate(1px,  0px)   }
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* ----------------------------------------------------------------------------- */
/* ------------------------ UTILITY CLOSE FEATURE ------------------------------ */
/* ----------------------------------------------------------------------------- */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closek{
    font-size: 30px;
}

.closek:hover {
    cursor: pointer;
}

.closekoo ,
.closekoo2 ,
.closekoo3 ,
.closekoo4 {
    /* color: #aaa; */
    float: right;
    /* font-size: 28px; */
    font-weight: bold;
}

.closekoo:hover ,
.closekoo2:hover ,
.closekoo3:hover ,
.closekoo4:hover ,
.closekoo:focus,
.closekoo2:focus,
.closekoo3:focus,
.closekoo4:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btnkoo3,
#btnkoo4,
#btnkoo5
{
    position: relative;
}

/* ----------------------------------------------------------------------------- */
/* -------------------------------- EXTRA -------------------------------------- */
/* ----------------------------------------------------------------------------- */

.ra{
    z-index: 10;
    width: 140px;
    margin-left: 20px;
    height: auto;
}

.fa-gamepad:before{
    color: white;
}
